# URL for local development
DATABASE_URL=postgresql://user:password@localhost:5432/construction_journal
# URL for production (Docker)
DATABASE_URL_DOCKER=postgresql://rentamac:L241310Dadsqq@db:5432/construction_journal

# Credentials for db container
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=construction_journal
POSTGRES_PORT=5432

API_PORT=8001
WEB_PORT=8002

NEXT_PUBLIC_API_URL=http://localhost:8001
